@function num($n){
	@return $n/20;
}
html,body{
	height:100%;
	width:100%;
	font-size:20px;
}
*{
	padding:0;
	margin:0;
}
li{
	list-style:none;
}
.swiper-container{
	height:100%;
	width:100%;
	position:relative;
	// background:url(../img/bg-2.png) no-repeat fixed;
	// background-size:100% 100%;
	.part-1{
		position:relative;	
		overflow:hidden;
		background:url(../img/bg-2.png) no-repeat fixed;
		background-size:100% 100%;
		.bd-1-img1{
			height:num(180rem);
			position:absolute;
			bottom:num(-30rem);
			left:50%;
			margin-left:num(-90rem);
		}
		.bd-1-img2{
		width:num(36rem);
		position:fixed;
		bottom:num(122rem);
		left:50%;
		margin-left:num(-25rem);
		}
		.pa-1-img1{
			position:absolute;
			top:num(50rem);
			left:num(30rem);
			height:num(150rem);
			width:num(150rem) !important;
			width:auto;
			border-radius:50%;
			overflow:hidden;
			.pa1-imgson1{
				width:num(170rem);
				height:num(170rem);
				border-radius:50%;
				margin-left:num(-10rem);
				margin-top: num(-10rem);
			}
			.pa1-imgson2{
				width:num(220rem);
				position:absolute;
				top:num(30rem);
				left:num(-35rem);
			}
		}
		.pa-1-img2{
			height:num(50rem);
			position:absolute;
			top:num(24rem);
			left:num(45rem);
		}
		.pa-1-img3{
			height:num(60rem);
			position:absolute;
			top:num(300rem);
			left:num(80rem);;
		}
		.pa-1-img4{
			height:num(30rem);
			position:absolute;
			top:num(280rem);
			left:num(20rem);
		}
		.pa-1-img5{
			position:absolute;
			top:num(200rem);
			right:num(50rem);
			width:num(120rem);
		}
		.pa-1-img6{
			// height:180px;
			// position:absolute;
			// top:200px;
			// right:50px;
			// z-index:-1000;
		}
	}
	.part-2{
		position:relative;
		// background:url(../img/bg-2.png) no-repeat fixed;
		// background-size:100% 100%;
		.pa-2-img1{
			width:num(120rem);
			position:absolute;
			top:num(150rem);
			right:num(-20rem);
			z-index:100;
		}
		.pa-2-img2{
			width:num(200rem);
			position:absolute;
			top:num(100rem);
			left:num(20rem);
			z-index:100;
		}
		.pa-2-img3{
			height:100%;
			width:100%;
		}
		.pa-2-img4{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			z-index:-100;
		}
	}
	.part-3{
		position:relative;
		.pa-3-img1{
			height:num(120rem);
			position:absolute;
			top:num(20rem);
			left:num(40rem);
		}
		.pa-3-img2{
			height:num(100rem);
			position:absolute;
			top:num(200rem);
			left:num(80rem);
		}
		.pa-3-img3{
			height:num(120rem);
			position:absolute;
			top:num(270rem);
			left:num(70rem);
		}
		.pa-3-img4{
			width:num(60rem);
			position:absolute;
			bottom:num(100rem);
			right:num(70rem);
		}
		.pa-3-img5{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			z-index:-100;
		}
		.pa-3-img6{
			height:num(180rem);
			position:absolute;
			top:num(220rem);
			z-index:10;
		}
	}
	.part-4{
		position:relative;
		.pa-4-img1{
			height:num(100rem);
			position:absolute;
			top:num(300rem);
			left:num(20rem);
			z-index:10;
		}
		.pa-4-img2{
			height:100%;
			width:101%;
			position:absolute;
			top:0;
			// z-index:100;
		}
		.pa-4-img3{
			height:num(60rem);
			position:absolute;
			top:num(200rem);
			right:num(20rem);
			z-index:10;
		}
		.pa-4-img4{
			height:num(50rem);
			position:absolute;
			top:num(100rem);
			left:num(10rem);
		}
		.pa-4-img5{
			height:num(50rem);
			position:absolute;
			top:num(110rem);
			left:num(100rem);
		}
		.pa-4-img6{
			height:num(100rem);
			position:absolute;
			bottom:num(10rem);
			right:num(10rem);
		}
	}
	.part-5{
		position:relative;
		.pa-5-img1{
			height:100%;
			width:100%;
		}
		.pa-5-img2{
			height:num(240rem);
			width:num(240rem);
			position:absolute;
			top:num(100rem);
			left:num(40rem);
		}
		.pa-5-img3{
			height:num(50rem);
			position:absolute;
			top:num(122rem);
			left:num(90rem);
		}
		.pa-5-img4{
			height:num(150rem);
			position:absolute;
			top:num(240rem);
			right:num(10rem);
		}
		.pa-5-img5{
			height:num(100rem);
			position:absolute;
			bottom:num(140rem);
			left:num(10rem);
		}
		.pa-5-img6{
			height:num(80rem);
			position:absolute;
			bottom:num(80rem);
			right:num(40rem);
		}
		.pa-5-img7{
			height:num(150rem);
			position:absolute;
			bottom:num(0rem);
			right:num(30rem);
			z-index:100;
		}
		.pa-5-img8{
			height:num(50rem);
			position:absolute;
			top:num(180rem);
			left:num(140rem);
		}
		.pa-5-img9{
			width:100%;
			position:absolute;
			top:num(-20rem);
		}
	}
	p{
		position:fixed;
		bottom:0;
		left: 0;
		font-size:10px;
		color:red;
		z-index:1000;
	}
}